<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools"
	package="c.cx900">
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
<!--	必须加INTERNET的权限才能联网，小心!!!!!!!!!!!-->
	<uses-permission android:name="android.permission.INTERNET"/>
<!--	必须加RECORD_AUDIO的权限才能使用MediaRecorder，小心!!!!!!!!!!!-->
	<uses-permission android:name="android.permission.RECORD_AUDIO"/>
	
	<!--    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>-->
	<!--    <uses-permission android:name="android.permission.WRITE_MEDIA_STORAGE" />-->
	<!--    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />-->
	
	
	<application
			android:icon="@drawable/i"
			android:label="各种功能"
			android:theme="@android:style/Theme.Light.NoTitleBar">
		<activity android:name="ac">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>


		<activity android:name="sy"/>
		<activity android:name="sy2"/>
		<activity android:name="sy3"/>
		<activity android:name="sy4"/>
		<activity android:name="sy5"/>
		<activity android:name="sy6"/>
		<activity android:name="sy7"/>
		<activity android:name="sy8"/>
		<activity android:name="sy9"/>
		<activity android:name="sy10"/>


        <activity android:name="ac2"/>
        <activity android:name="ac3"/>
        <activity android:name="ac4"/>
        <activity android:name="ac6"/>
        <activity android:name="ac7"/>
        <activity android:name="ac8"/>
        <activity android:name="ac9"/>
        <activity android:name="ac11"/>
		<activity android:name="ac12"/>
		<activity android:name="ac13"/>
		<activity android:name="ac14"/>
		<activity android:name="ac15"/>
		<activity android:name="ac16"/>
		<activity android:name="ac17"/>
		<activity android:name="ac18"/>
		<activity android:name="ac19"/>
		<activity android:name="ac20"/>
<!--		设置界面方向为传感器控制且为横屏-->
        <activity android:name="ac5"
            android:screenOrientation="sensorLandscape"
            tools:ignore="LockedOrientationActivity">
            <!--			必须加这个intent-filter才能使es文件浏览器能选择打开这个Activity，小心!!!!!!!!!!!-->
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <data android:scheme="content"/>
<!--                必须加scheme="file"才能使Android 6.0（SDK版本为23）的手机上的es文件浏览器能选择打开这个Activity，小心!!!!!!!!!!!-->
                <data android:scheme="file"/>
                <data android:mimeType="video/*"/>
            </intent-filter>
        </activity>
        <activity android:name="ac10">
            <!--			必须加这个intent-filter才能使es文件浏览器能选择打开这个Activity，小心!!!!!!!!!!!-->
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <data android:scheme="content"/>
<!--                必须加scheme="file"才能使Android 6.0（SDK版本为23）的手机上的es文件浏览器能选择打开这个Activity，小心!!!!!!!!!!!-->
                <data android:scheme="file"/>
                <data android:mimeType="audio/*"/>
            </intent-filter>
        </activity>
<!--		必须加这个provider才能选择文件的打开方式，小心!!!!!!!!!!!-->
		<provider
				android:name="androidx.core.content.FileProvider"
				android:authorities="ccx900"
				android:grantUriPermissions="true"
				android:exported="false">
			<meta-data
					android:name="android.support.FILE_PROVIDER_PATHS"
					android:resource="@xml/file_paths"/>
		</provider>
	</application>
</manifest>